.header{
    @include flexbox (row, space-between, center);
    margin: 60px 70px;
    &__title{
        @include font (normal, 70px, bold);
        color: $text-color;
        width: 25%;
        &::after{
            content: 'Développeur Web';
            font-size: 28px;
            position: relative;
            top: -40px;
            left: 2px;
            letter-spacing: 3px;
        }
    }
    &__nav{
        @include flexbox (row, space-between, baseline);
        width: 20%;
        & i{
            font-size: 35px;
            color: $color-primary;
        }
        & .back__link{
            color: $text-color;
            font-size: 35px;
            font-weight: 900;
        }
    }
}
.nav--page{
    width: 45%;
}