.book{
    @include flexbox (row, space-evenly);
    width: 100%;
    flex-wrap: wrap;
    &__card{
        color: $text-color;
        width: 35%;
        font-size: $xl-font;
        padding: 25px;
        @include flexbox(column);
        & h3{
            color: $color-primary;
        }
        & .button{
            @include flexbox(row, center, center);
            border: 2px solid $color-primary;
            border-radius: 50%;
            width: 150px;
            height: 150px;

        }
    }
}
.button__box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}