.formation{
    display: flex;
    flex-wrap: wrap;
    height: 430px;
    &__group{
        color: $text-color;
        font-size: 24px;
        text-align: center;
        @include flexbox;
        padding-bottom: 15px;
        width: 100%;
        &--link{
            width: 50%;
            padding-bottom: 15px;
            border-bottom: 2px solid #ff6d00;
            &:hover{
                border-color: $color-secondary;
            }
        }
    }
}
.visible{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    transform: translateX(0);
    & .certification__container{
       display: flex;
       justify-content: space-evenly;
       width: 100%;
       position: fixed;
       left: 100%;
       & span{
        color: $text-color;
        font-size: 20px;
       }


    }
    & .formation__container{
        margin: 70px 0px;
        font-size: $xl-font;
        color: white;
        text-align: center;
        line-height: 36px;
        padding: 20px;
    }

}
.certification--link:active .visible{
    animation: certification 1s forwards;
    
}
.formation--link:active .visible{
    animation: formation 1s forwards;
    
}

.mobile_img{
    display: none;
}
@media screen and (max-width: 700px) {
    .mobile_img{
        display: initial;
    }
    .desktop_img{
        display: none;
    }
    
}
.document{
    width: 424px;
}
img{
    height: 300px;
}


@keyframes certification{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes formation{
    to{
        transform: translateX(0);
    }
}

