.motivation{
    text-align: center;
}
.title{
    font-size: 50px;
}
.motivation__title, .methode__title{
    font-size: 40px;
    padding: 20px;
}
.content{
    font-size: 25px;
    line-height: 40px;
}